.vc_listcollapse1 {
  p {
    @extend %display--inline-block;
    @extend %font--bold;
    background-color: #ccc;
    cursor: pointer;
  }

  span {
    @extend %display--inline-block;
    @extend %padd--4;
    @extend %font--bold;
    background-color: #666;
    color: #fff;
  }
}